// $("#draw").html("<table id='' class='' style='width: 800px;'><thead> <tr><th>Name</th><th>RollNo</th><th>Subject</th><th>Description</th> </tr></thead><tbody><tr><td>Ritu</td><td>12</td> <td>DSA</td><td>Best for you</td></tr></tbody></table>");

<%= pie_chart(fetch_data) %>