 $("#draw").html("<table id='example' class='table table-striped table-bordered' style='width: 800px;'><thead><tr><th class='table-space'>StartDate</th><th class='table-space'>EndDate</th><th class='table-space'>Total</th></tr></thead><tbody><% @bookings.each do |p| %><tr><td><%= p.name %></td><td><%= p.cost %></td>  <td>1000</td></tr><% end %></tbody></table>");

