<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @booking.user&.email %>.</p>
    <p>
      Welcome to my site.
      Thanks for showing your interest to the site.
    <p>
    Message:<br>
    ----------
    This is a reminder for you to that your booking day is coming to an end.
    </p>
    <p></p>
  </body>
</html>