

<%#= link_to 'New Review', new_review_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<!-- <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div> -->


<div>
<% @properties.each do |p| %>
    <%# binding.pry %>  
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to "#{p.property&.name}", property_path(p.property&.id) %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <% end %>
</div>