<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h3>About</h3>
			<p>How Airbnb works?</p>
			<p>Airbnb plus</p>
			<p>Airbnb for work</p>
		</div>

		<div class="col-sm-3">
			<p></p>
			<p>Newsroom</p>
			<p>Airbnb Luxe</p>
			<p>Olympics</p>
		</div>

		<div class="col-sm-3">
			<p></p>
			<p>Investors</p>
			<p>HotelTonight</p>
			<p>Careers</p>
		</div>
	</div>
</div>