<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h3>About</h3>
			<p><a href="https://www.airbnb.co.in/d/howairbnbworks">How Airbnb works?</a></p>
			<p><a href="https://www.airbnb.co.in/plus">Airbnb plus</a></p>
			<p><a href="https://www.airbnb.co.in/work">Airbnb for work</a></p>
		</div>

		<div class="col-sm-3">
			<h3></h3>
			<p></p>
			<p><a href="https://news.airbnb.com/?region=India">Newsroom</a></p>
			<p><a href="https://www.airbnb.co.in/d/howairbnbworks">Airbnb Luxe</a></p>
			<p><a href="https://www.airbnb.co.in/d/howairbnbworks">Olympics</a></p>
		</div>

		<div class="col-sm-3">
			<h3></h3>
			<p></p>
			<p><a href="https://www.airbnb.co.in/d/howairbnbworks">Investors</a></p>
			<p><a href="https://www.airbnb.co.in/d/howairbnbworks">HotelTonight</a></p>
			<p><a href="https://www.airbnb.co.in/d/howairbnbworks">Careers</a></p>
		</div>
	</div>
</div>